<div class="container-fluid">
  <div class="row">
    <div class="intro-text-area col-xs-10 col-sm-8 col-md-5">
      <h3>What's going on here?</h3>
      <p>This is a quick survey to gather anonymous data about color perceptions
        for a web app project. You'll be given a series of colour names and then
        asked to enter as many keywords and phrases as you can that you associate
        with that colour. Feel free to get creative, and thanks for helping out!</p>
    </div>
  </div>
  <div class="row">
    <div class="call-to-action text-center">
        <h3>When you're ready to begin, click the button below!</h3>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <button type="button" class="begin-button"><h3>Start</h3></button>
    </div>
  </div>
  <div class="row">
    <div class="colours text-center">
      <h1 class="colourTag" id="blue">Blue</h1>
      <h1 class="colourTag" id="cyan">Cyan</h1>
      <h1 class="colourTag" id="aqua">Aqua</h1>
      <h1 class="colourTag" id="turquoise">Turquoise</h1>
      <h1 class="colourTag" id="green">Green</h1>
      <h1 class="colourTag" id="chartreuse">Chartreuse</h1>
      <h1 class="colourTag" id="yellow">Yellow</h1>
      <h1 class="colourTag" id="gold">Gold</h1>
      <h1 class="colourTag" id="orange">Orange</h1>
      <h1 class="colourTag" id="coral">Coral</h1>
      <h1 class="colourTag" id="salmon">Salmon</h1>
      <h1 class="colourTag" id="pink">Pink</h1>
      <h1 class="colourTag" id="hotPink">Hot Pink</h1>
      <h1 class="colourTag" id="fuchsia">Fuchsia</h1>
      <h1 class="colourTag" id="mauve">Mauve</h1>
      <h1 class="colourTag" id="lavender">Lavender</h1>
      <h1 class="colourTag" id="plum">Plum</h1>
      <h1 class="colourTag" id="indigo">Indigo</h1>
      <h1 class="colourTag" id="purple">Purple</h1>
      <h1 class="colourTag" id="maroon">Maroon</h1>
      <h1 class="colourTag" id="scarlet">Scarlet</h1>
      <h1 class="colourTag" id="red">Red</h1>
      <h1 class="colourTag" id="tan">Tan</h1>
      <h1 class="colourTag" id="khaki">Khaki</h1>
      <h1 class="colourTag" id="beige">Beige</h1>
      <h1 class="colourTag" id="grey">Grey</h1>
      <h1 class="colourTag" id="black">Black</h1>
      <h1 class="colourTag" id="white">White</h1>
      <h3 class="colourTag" id="thankYou">Thanks for participating! :)</h3>
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </div>
  </div>
  <div class="row">
    <div class="text-field">
      <form method="post" name="colour-input-form" action="">
        <div class="col-md-10 col-md-offset-1 input-group">
          <input type="text" id="userInput" placeholder="Press 'Enter' to move on." class="form-control" />
        </div>
      </form>
    </div>
  </div>
</div>
